{
  "username": "watching",
  "avatar": "https://cdn.glitch.global/5aacd173-98f2-4f1f-83c1-d07815d82bf3/tvmarksLogo.png?v=1742129685337",
  "displayName": "Tvmarks",
  "description": "An ActivityPub tv tracking and sharing site built with Tvmarks"
}