{{#if error}}
  <p class="error">
    {{error}}
  </p>
{{else}}
  {{#unless foundShows}}
    <h2>Welcome to Tvmarks!</h2>
    <p>
      Tvmarks is a single user self hosted website that help you track the shows you are watching and catalog shows you have watched.
    </p>
    <p>
      Checkout <a href="https://tv.stefanhayden.com/">my own instance</a> to see it in action.
    </p>
    
    
    {{#if isReadyToLogin}}
      <p>
        If you have just set this site up then it's working!
        {{#unless isLoggedIn}}
          Login to search for show to add.
        {{/unless}}
      </p>
    {{/if}}

    {{#unless isReadyToLogin}}
      <h2>Start your setup</h2>
    {{/unless}}
    {{#if noSecret}}
      <h3>SESSION_SECRET</h3>
      <p>You have not yet set up a <code>SESSION_SECRET</code> in your enviorment. This is needed to remember if you are logged in. See the <code>README.md</code> to learn more.</p>
    {{/if}}
    {{#if noAdminKey}}
      <h3>ADMIN_KEY</h3>
      <p>You have not yet set up a <code>ADMIN_KEY</code> in your enviorment. This will be your login password. See the <code>README.md</code> to learn more.</p>
    {{/if}}
  {{/unless}}

  {{#if (or showsToWatch showsUpToDate showsNotStarted showsCompleted showsAbandoned)}}
    <div style="float: right"><a href="/upcoming">Upcoming</a></div>
  {{/if}}

  {{#if showsToWatch}}
    {{#if seeAllShowsToWatch}}
      <a href="/shows/watch-next" style="float:right;">see all</a>
    {{/if}}
    <h2>Watch Next</h2>
    <div style="margin-bottom: 50px;">
      <div style="display:flex; flex-wrap: wrap; gap: 0.5em;">
        {{#each showsToWatch }}
          {{> show_tvshow_card tvshow=this}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if showsUpToDate}}
    {{#if seeAllShowsUpToDate}}
      <a href="/shows/up-to-date" style="float:right;">see all</a>
    {{/if}}
    <h2>Up To Date</h2>
    <div style="margin-bottom: 50px;">
      <div style="display:flex; flex-wrap: wrap; gap: 0.5em;">
        {{#each showsUpToDate }}
          {{> show_tvshow_card tvshow=this}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if showsNotStarted}}
    {{#if seeAllShowsNotStarted}}
      <a href="/shows/not-started" style="float:right;">see all</a>
    {{/if}}
    <h2>Not Started</h2>
    <div style="margin-bottom: 50px;">
      <div style="display:flex; flex-wrap: wrap; gap: 0.5em;">
        {{#each showsNotStarted }}
          {{> show_tvshow_card tvshow=this}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if showsAbandoned}}
    {{#if seeAllShowsAbandoned}}
      <a href="/shows/abandoned" style="float:right;">see all</a>
    {{/if}}
    <h2>Abandoned</h2>
    <div style="margin-bottom: 50px;">
      <div style="display:flex; flex-wrap: wrap; gap: 0.5em;">
        {{#each showsAbandoned }}
          {{> show_tvshow_card tvshow=this}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if showsCompleted}}
    {{#if seeAllShowsCompleted}}
      <a href="/shows/completed" style="float:right;">see all</a>
    {{/if}}
    <h2>Completed</h2>
    <div style="display:flex; flex-wrap: wrap; gap: 0.5em;">
      {{#each showsCompleted }}
        {{> show_tvshow_card tvshow=this}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}
