{{#if error}}
  <p class="error">
    {{error}}
  </p>
{{else}}


  <h2>Watch Next</h2>
  <div style="display:flex; flex-wrap: wrap; gap: 0.5em; margin-bottom: 50px">
    {{#each showsToWatch }}
      {{> show_tvshow_card tvshow=this}}
    {{/each}}
  </div>

  <h2>Up To Date</h2>
  <div style="display:flex; flex-wrap: wrap; gap: 0.5em; margin-bottom: 50px">
    {{#each showsUpToDate }}
      {{> show_tvshow_card tvshow=this}}
    {{/each}}
  </div>

  <h2>Not Started</h2>
  <div style="display:flex; flex-wrap: wrap; gap: 0.5em; margin-bottom: 50px">
    {{#each showsNotStarted }}
      {{> show_tvshow_card tvshow=this}}
    {{/each}}
  </div>

  <h2>Abandoned</h2>
  <div style="display:flex; flex-wrap: wrap; gap: 0.5em; margin-bottom: 50px">
    {{#each showsAbandoned }}
      {{> show_tvshow_card tvshow=this}}
    {{/each}}
  </div>

  <h2>Completed</h2>
  <div style="display:flex; flex-wrap: wrap; gap: 0.5em;">
    {{#each showsCompleted }}
      {{> show_tvshow_card tvshow=this}}
    {{/each}}
  </div>


{{/if}}
