{{#each posts}}
  <div class="network-post">
    <div class="network-post-content">
      {{{this.content}}}
    </div>
    <div class="network-post-credit">
      by {{this.name}}
    </div>
    <div style="display: flex; gap: 10px;">
      <form method="POST" action="/comment/{{this.id}}/delete">
        
        <input type="hidden" name="Referrer" value="/network">
        <button>Delete</button>
      </form>
      <form action="/admin/followers/block" method="POST">
        <input type="hidden" name="actor" value="{{this.name}}">
        <button type="submit">Block</button>
      </form>
    </div>
  </div>
{{/each}}
